.equilibrio-financeiro {
    width: 100%;
  }
  
  .gasto {
    margin-bottom: 16px;
  }
  
  .barra-progresso {
    background-color: #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    height: 20px;
    width: 100%;
  }
  
  .progresso {
    height: 100%;
    background-color: #3880ff;
    border-radius: 8px 0 0 8px;
  }
  