.signup-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: left;
  }
  
  .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    width: 100%;
    max-width: 400px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .birthdate-container {
    display: flex;
    justify-content: space-between;
  }
  
  .birthdate-container select {
    width: 32%;
  }
  
  .continue-button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  