.third-page-container {
    position: relative;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .content {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .skip-button, .next-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .skip-button {
    color: #00ADEF;
    text-decoration: none;
  }
  
  .next-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  